<ion-header>
  <ion-toolbar>
    <ion-title>
      Selección de opciones
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <!--Código AE9-->
  <div *ngIf = "!oculto"> <!--Si esta oculto, todo lo demás no se muestra, porque es la etiqueta padre-->
    <ion-card *ngFor="let item of listadoProducto"> 
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        
      </ion-card-header>

      <ion-card-content>
        <ion-label>Descripción: {{item.descripcion}}</ion-label>
      </ion-card-content>

    
    </ion-card>
  </div>

  <ion-button expand="block" (click)="cambiarOculto()" routerLink="/listado-prod" routerDirection="forward">Listado de Productos</ion-button>
  <ion-button expand="block" (click)="cambiarOculto()" routerLink="/insertar" routerDirection="forward">Insertar Producto</ion-button>

</ion-content>
