<ion-header>
  <ion-toolbar>
    <ion-title>
      Selección de opciones
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <!--Código AE9-->
  <div *ngIf = "!oculto"> <!--Si esta oculto, todo lo demás no se muestra, porque es la etiqueta padre-->
    <ion-card *ngFor="let item of producto"> <!--producto es una variable[] de home.page.ts-->
      <ion-card-header>
        <ion-card-title>{{item.nombre}}</ion-card-title>
        
      </ion-card-header>

      <ion-card-content>
        <ion-label>Descripción: {{item.descripcion}}</ion-label>
      </ion-card-content>

      <!--Pasamos el item.id que es el atributo id del producto seleccionado. Así luego podemos sacar toda su información-->
      <ion-button [routerLink]="['../more-details/',item.id]" routerDirection="forward" >
        Más detalles</ion-button>  
    </ion-card>
  </div>

  <ion-button expand="block" (click)="cambiarOculto()" routerLink="/listado-prod" routerDirection="forward">Listado de Productos</ion-button>
  <ion-button expand="block" routerLink="insertar()" routerDirection="forward">Insertar Producto</ion-button>

</ion-content>
